.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    margin: 50px 100px;
    row-gap: 10px;
}

.item-card {
    justify-self: center;
    display: flex;
    border-radius: 8px;
    height: 130px;
    width: 26.875vw;
    box-shadow: rgba(67, 41, 163, 0.08) 0px 1px 12px 0px;
    font-size: 14px;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 12px;
    cursor: pointer;
    border: 1px rgba(150, 150, 150, 0.4) solid;

    &&:hover {
        box-shadow: rgba(67, 41, 163, 0.4) 0px 0px 0px 1px;
    }

}

.item-card-left {
    display: flex;
    flex-direction: column;

    width: 17.625vw;
}

.item-card-name {
    padding-bottom: 10px;
    font-weight: bolder;
}

.item-card-price {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: start;
    color: white;
    border-radius: 100px;
    padding: 4px;
    right: 2px;
}

.item-card-image-container {
    position: relative;
    height: 130px;
    width: 9.375vw;
}

.item-card-image {
    height: 130px;
    width: 9.375vw;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black;
}
