.item-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.item-modal-image {
    width: 380px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.item-modal-description {
    margin-bottom: 20px;
    text-align: center;
    padding: 0px 40px;
}

.item-modal-owner-buttons {
    width: 60%;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
